{% load graph_extras %}
<!DOCTYPE html>
<style>
    .content {
        margin: auto;
        max-width: 960px;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    li {
        text-align: center;
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Social Graph</title>
</head>
<body>
    <div class="content">
        <header>
            <h1>Discord Social Graph</h1>
            <p>
                An ongoing study on social data collection, processing, and analysis by Sawyer McLane.<br/>
                Source code can be found
                <a href="https://github.com/samclane/SocialGraphWebapp">here.</a>
            </p>
        </header>
        <iframe src="{% url "graphs" %}" style="width:640px;height:500px;border:none" scrolling="no"></iframe>
        <dl style="list-style-type:none">
            <dt><h1>Popularity List</h1></dt>
            <dd>{{ popularity_list|safe|linebreaks|spacify }}</dd>
            <dt><h1>Cross Validation</h1></dt>
            <dd>{{ cross_val|safe|linebreaks|spacify }}</dd>
            <dt><h1>Accuracy</h1></dt>
            <dd>{{ accuracy|safe|linebreaks|spacify }}</dd>
            <dt><h1>Classification Report</h1></dt>
            <dd>{{ class_report|safe|linebreaks|spacify }}</dd>
            <dt><h1>Confusion Matrix</h1></dt>
            <dd>{{ conf_matrix|safe|linebreaks|spacify }}</dd>
        </dl>
    </div>
</body>
</html>