<!DOCTYPE html>
<html lang="en">
<style>
    body {
        margin: 0;
    }
    .banner {
        background: #7289da;
        color: #ffffff;
        height: 30px;
    }
    iframe {
        display: block;
        border: none;
        height: calc(100vh - 30px);
        width: 100%
    }
</style>
<script>
    function hide() {
        document.getElementsByClassName('banner')[0].style.display = 'none';
        document.title = 'Discord Graph';
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>Please wait...</title>
</head>
<body>
    <div class="banner">Please wait...</div>
    <iframe src="{% url "main" %}" onload="hide()"></iframe>
</body>
</html>