<!DOCTYPE html>
<html lang="en">
<style>
    body {
        margin: 0;
    }
    .banner {
        background: #7289da;
        color: #ffffff;
        text-align: center;
        height: 30px;
    }
    iframe {
        display: block;
        border: none;
        height: calc(100vh - 30px);
        width: 100%
    }
</style>
<script>
    function remove_banner() {
        document.getElementsByClassName('banner')[0].style.display = 'none';
        document.title = 'Discord Graph';
    }
    setTimeout(function() {
        remove_banner();
        window.location.reload(2);
        remove_banner();
    }, 2000);
    remove_banner();
</script>
<head>
    <meta charset="UTF-8">
    <title>Please wait...</title>
</head>
<body>
    <div class="banner">Please wait...</div>
    <iframe src="{% url "index" %}"></iframe>
</body>
</html>